@import "~antd/dist/antd.css";
@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p,
a,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 1.1px;
    color: $dark-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-color;
}

// Text styles
.heading {
    text-align: center;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.subheading {
    color: $primary-color;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.small {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.primary-dark {
    color: $primary-dark-color;
}

// Utils

.container {
    width: 80vw;
    margin: 4rem auto;
}

.clickable {
    cursor: pointer;
}

// Navbar
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    opacity: 0.9;
    border-bottom: 1px solid $primary-color;
    background-color: $primary-dark-color;
    height: 4rem;

    ul {
        display: flex;

        a {
            color: $light-color;
            padding: 0.45rem;
            margin: 0 0.25rem;
            transition: all 0.3s ease-in-out;
            border-radius: 20px;

            &:hover {
                color: $dark-color;
                background-color: $primary-color;
            }
        }
    }
}

.rank-table {
    .headers,
    ul {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
        p {
            padding: 0.5rem;
            border: 1px solid $primary-color;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p:nth-child(5n - 3) {
            justify-content: left;
        }
        img {
            max-width: 10%;
        }
    }
}

.game-card {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 2rem;

    .ratings {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        .list-item {
            padding: 1rem;
            border-radius: 20px;
            border: 1px solid $primary-color;
        }

        .green {
            background-color: #729d39;
            color: $light-color;
        }

        .light-green {
            background-color: #17b978;
            color: $light-color;
        }
        .yellow {
            background-color: #efd510;
        }
        .orange {
            background-color: #ec610a;
        }
        .red {
            background-color: #e84a5f;
        }
    }

    .game-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        .list-item {
            border: 1px solid $primary-color;
            border-radius: 20px;
            padding: 1rem;
        }
    }
    .image {
        display: flex;
        justify-content: space-around;
        img {
            max-width: 33%;
            height: auto;
        }
    }
}

.comment-card {
    padding: 2rem;
    border-top: 1px solid $primary-color;
    border-radius: 20px;
    margin-top: 1rem;
}

.ant-list-empty-text {
    display: none;
}

.form-container {
    width: 50%;
    margin: 2rem auto;

    button {
        width: 100%;
    }
}
